.tl-timelapse
{
    margin: 10px;
    padding: 5px;
    box-shadow: 0px 0px 2px 0px rgba(0,0,0,0.12), 0px 2px 2px 0px rgba(0,0,0,0.24);
    background-color: white;
    border-radius: 3px;
    width: 100%;
    max-width: 400px;
}


.tl-sliderouter{
    height:10px;
    background-color:green;
    width: 100%;
}

.tl-sliderinner
{
    height:10px;
    background-color:red;
}

.tl-controls
{
    margin: 0px;
    padding-top: 5px;
    display: flex;
    justify-content: center;
    width: 100%;
}

.tl-controls > .tl-control
{
    font-size: 20px;
    padding: 5px;
    color: grey;
    padding-left: 10px;
    padding-right: 10px;
}

.tl-control:hover
{
    background-color: burlywood;
}

.tl-text {
    text-align: center;
    width: 100%;
    padding-bottom:5px;
    font-size: large;
    color: #000;
}

.tl-cameraimage
{
    width:100%;
}

